.icon-lang
  width 2rem
.about-me-container
  padding-top 3rem

.about-me-container .yy-name-card
  padding-bottom 2rem
  text-align right
  padding-right 5%
  color #9c9c9c
  @media screen and (max-width: 767px)
    padding-bottom 1rem

.about-me-container .yy-name-card .yy-name-text
  color $yy-orange-heavy
  font-size 3.2rem
  @media screen and (max-width: 767px)
    font-size 2.2rem

.about-me-container .yy-name-card .yy-name-card-titles
  font-size $text-4x
  @media screen and (max-width: 767px)
    font-size $text-2x

.about-me-container .media-icon-group a:hover
  text-decoration none

.about-me-container .media-icon-group i
  color $yy-orange-pale
  margin-right 0.3rem
  margin-top 0.2rem
  font-size 3rem

.about-me-container .media-icon-group i.glyphicon
  font-size 2.5rem

.about-me-container .media-icon-group i:hover
  color $yy-orange-heavy
  transform scale(1.3,1.3)

  /*****************************************/

.yy-container.resume-container
  width 95%
  max-width 140rem

.yy-container.resume-container .yy-toolbar
  /*margin 0 3rem 5rem*/

/*
.work-info-qtip
    max-width 250px
    width 2500px
    height auto
*/

.work-info-qtip a
  color #ffffff


.work-info-qtip .qtip-content
  padding 1rem 1.5rem



.yy-container.resume-container .timeline-view .yy-info-container
  width 60%
  margin 0 auto 5rem
  @media screen and (max-width 767px)
    width 90%

.yy-container.resume-container .timeline-view .yy-info-container .yy-info-title
  color $yy-orange-pale
  margin-bottom 1rem

.yy-container.resume-container .timeline-view .yy-info-container .yy-info-details
  background $yy-gray-light
  padding 2rem 2rem 1rem 2rem
  border-radius 0.5rem

.yy-container.resume-container .timeline-view .yy-info-container p
  margin-bottom 1.5rem
  line-height 2.0rem
