<div class="yy-container about-me-container">


  <div class="yy-name-card">
    <div class="yy-name-text">Yan Chen</div>
    <h5><i>Salt Lake City, UT</i></h5>

    <div class="yy-name-card-titles">
      <div>UI Developer / UX Designer</div>
      <div>Front End Web Developer</div>
      <div>Freenlancer</div>
    </div>

    <div class="btn-group media-icon-group">
      <a href="http://www.linkedin.com/in/yanjchen/">
        <i class="fa fa-linkedin-square fa-2x"></i>
      </a>

      <a href="https://www.facebook.com/yan.chen.376695">
        <i class="fa fa-facebook-square fa-2x"></i>
      </a>
      <a href="https://instagram.com/mynameisyan">
        <i class="fa fa-instagram fa-2x"></i>
      </a>
      <a href="mailto:ychen.0931@gmail.com">
        <i class="fa fa-envelope-square fa-2x"></i>
      </a>
    </div>

  </div>
</div>

<div class="yy-container resume-container">

  <div class="yy-toolbar clearfix">
    <div class="tool-icon float-right" ng-click="ResumeCtrl.timelineView=false"
         ng-class="{'active':ResumeCtrl.timelineView===false}">
      <i class="glyphicon glyphicon-tasks"></i>
    </div>
    <div class="tool-icon float-right" ng-click="ResumeCtrl.timelineView=true"
         ng-class="{'active':ResumeCtrl.timelineView===true}">
      <i class="glyphicon glyphicon-time"></i>
    </div>

  </div>

  <div ng-if="ResumeCtrl.timelineView" class="timeline-view">
    <div class="yy-info-container">
      <div class="yy-info-details">
        <div class="yy-info-title">  My Summary of Skills ... </div>
        <p><strong><i>UI/UX & Web:</i></strong> &nbsp;&nbsp;HTML, CSS, Stylus, JavaScript, AngularJS, JSON, Bootstrap,
          Responsive Web Design, Wireframe, Prototype</p>

        <p><strong><i>Database:</i></strong> &nbsp;&nbsp;SQL, MySQL, VBA, Microsoft Access</p>

        <p><strong><i>Tools:</i></strong> &nbsp;&nbsp;Git, WebStorm, Sketch, Illustrator, Microsoft Office Suite, Agile
        </p>
      </div>
    </div>

    <div resume-timeline data-items="ResumeCtrl.combinedHistory"></div>
  </div>
  <div ng-if="!ResumeCtrl.timelineView">
    <div resume-panel></div>
  </div>
</div>

<footer></footer>
