<!--<div class="row">-->
<!--<div class="gallery-container">-->
<!--<div deckgrid source="GalleryCtrl.allMyMedia" class="deckgrid">-->
<!--<div class="gallery-image-wrapper">-->
<!--<img class="gallery-image full-width" src="{{card.images.low_resolution.url}}" alt=""/>-->

<!--<div>{{card.location.name}}&nbsp;<br/>-->
<!--<p><i class="fa fa-heart-o text-red"></i> {{card.likes.count}}</p></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<div ng-repeat-start="gallery in galleries |orderBy:isReverse track by $index"
     class="gallery-thumb-box col-xs-4 col-sm-4 col-md-3 col-lg-3">
  <div class="gallery-thumb-container" ng-click="viewDetails=!viewDetails">
    <img src="{{gallery.images.thumbnail.url}}" class="full-width"/>
  </div>
  <div class="gallery-thumb-caption">{{gallery.location.name}}&nbsp;<br/>

    <p><i class="glyphicon glyphicon-heart-empty text-red"></i> {{gallery.likes.count}}</p></div>

</div>
<!--<div ng-if="viewDetails" class="clearfix" style="border:solid red 2px; height:30rem;">-->
<!--<img src="{{gallery.images.standard_resolution.url}}" class="full-width"/>-->


<!--</div>-->
<div ng-repeat-end=""></div>
