.deckgrid[deckgrid]::before
  /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  content '4 .column.column-1-4'
  font-size 0 /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility hidden


.deckgrid .column
  float left


.deckgrid .column-1-4
  width 25%



.gallery-container .gallery-image-wrapper
  padding 0.5rem

.gallery-container .gallery-image-image
  width 100%

.gallery-index
  color #b3b3b3


.gallery-container .gallery-description
  color #8b4d21

.gallery-container .gallery-thumb-caption
  height 6rem
  overflow hidden

/*-------------*/
.modal-backdrop.fade
  opacity .7

.gallery-modal
  min-width 33rem
  width 80%
  max-width 120rem
  max-height 90%
  margin 0 auto
  margin-top 1rem
  font-size $text-2x
  color gray
  @media screen and (max-width: 767px)
    width 100%
    margin-top 0
    font-size $text-3x

.gallery-modal .modal-dialog
  width 100%
  height 100%
  margin 0


.gallery-modal .modal-content
  margin 0
  background transparent
  border none
  box-shadow none

.gallery-modal .modal-content .modal-header
  height 6rem
  background transparent
  border none

.gallery-modal .modal-content .modal-header .modal-close
  font-size 4.5rem
  color #fff
  margin-bottom 2rem
  padding 1rem
  @media screen and (max-width: 767px)
    font-size 3.5rem

.gallery-modal .modal-content .modal-body
  overflow-y auto
  overflow-x hidden
  max-width 100%
  border none
  position fixed
  top 10rem
  bottom 0
  padding 0
  @media screen and (max-width: 767px)
    top 8rem

.gallery-modal .modal-content .modal-body  .gallery-list-row
  margin-bottom 0
  @media screen and (max-width: 767px)
    padding 0

.gallery-modal .modal-content .modal-body  .gallery-list-row-container
  background #fff
  @media screen and (max-width: 767px)
    padding 0

.gallery-modal .modal-content .modal-body img
  width 100%
  margin-bottom 1rem

.gallery-modal .modal-content .modal-body .gallery-list-caption
  @media screen and (max-width: 767px)
    padding 1.5rem 4rem 4rem

.gallery-modal .modal-content .modal-body .gallery-list-caption .gallery-image-caption,
.gallery-modal .modal-content .modal-body .gallery-image-comment
  @media screen and (max-width: 767px)
    font-size $text-3x


.gallery-modal .modal-content .modal-body .gallery-image-comment img
  width 2rem





