.gallery-container-fade
  background #efefef
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  z-index -1


.yy-container.gallery-container
  max-width 100rem
  @media screen and (max-width: 767px)
    width 100%

.yy-container.gallery-container .gallery-instagram-user-thumb
  width 4.5rem

.yy-container.gallery-container .gallery-instagram-user-thumb-sm
  width 2.8rem

.yy-container.gallery-container .gallery-thumb-box
  padding 0.5rem

.yy-container.gallery-container .gallery-introduction
  margin-bottom 4rem
  margin-left 35%
  margin-top 4rem
  @media only screen and (max-width 432px)
    margin 11rem 3rem 3rem

.yy-container.gallery-container .gallery-description
  color #8b4d21

.yy-container.gallery-container .gallery-thumb-caption
  height 6rem


.yy-container.gallery-container .user-search-container
  background #fff
  padding 2rem
  margin-bottom 3rem
  border-radius 1rem

.yy-container.gallery-container .user-search-container  .title
  color #757575
  font-size 2rem


.yy-container.gallery-container .user-search-container .search-box
  border-radius 1rem
.yy-container.gallery-container .user-search-container .search-box input
  border-radius 2rem

.yy-container.gallery-container .user-search-container .search-box i
  position absolute
  right 0rem
  z-index 2
  top 1rem
  padding 0 2rem
  cursor pointer





/*----------  instagram badge --------------*/
.ig-b-
  display inline-block

.ig-b- img
  visibility hidden

.ig-b-hover
  background-position 0 -60px

.ig-b-active
  background-position 0 -120px

.ig-b-32
  width 32px
  height 32px
  background url(//badges.instagram.com/static/images/ig-badge-sprite-32.png) no-repeat 0 0
  @media only screen and (-webkit-min-device-pixel-ratio 2), only screen and (min--moz-device-pixel-ratio 2), only screen and (-o-min-device-pixel-ratio 2 / 1), only screen and (min-device-pixel-ratio 2), only screen and (min-resolution 192dpi), only screen and (min-resolution 2dppx)
    background-image url(//badges.instagram.com/static/images/ig-badge-sprite-32@2x.png)
    background-size 60px 178px
