.gallery-container-fade
  background #efefef
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  z-index -1


.yy-container.gallery-container
  max-width 100rem
  @media screen and (max-width: 767px)
    width 100%

.yy-container.gallery-container .gallery-instagram-user-thumb
  width 4.5rem

.yy-container.gallery-container .gallery-instagram-user-thumb-sm
  width 2.8rem

.yy-container.gallery-container .gallery-thumb-box
  padding 0.5rem

.yy-container.gallery-container .gallery-introduction
  margin-bottom 4rem
  margin-left 35%
  margin-top 4rem
  @media only screen and (max-width 432px)
    margin 10rem 3rem 3rem
  @media only screen and (min-width 1200px)
    margin-bottom 8rem


.yy-container.gallery-container .user-search-container
  background #fff
  padding 2rem
  margin-bottom 3rem
  border-radius 1rem

.yy-container.gallery-container .user-search-container  .title
  color #757575
  font-size $text-3x


.yy-container.gallery-container .user-search-container .search-box
  border-radius 1rem
.yy-container.gallery-container .user-search-container .search-box input
  border-radius 2rem

.yy-container.gallery-container .user-search-container .search-box .btn-search
  position absolute
  right 0
  z-index 2
  top 18%
  padding 0 2rem
  cursor pointer
  background transparent
  color $yy-orange-heavy

.yy-container.gallery-container .user-search-container .search-box .btn-search.btn[disabled]
  color #a9a9a9

.yy-container.gallery-container .user-search-container .search-box .btn-search:focus
  outline none
  box-shadow none


.yy-container.gallery-container .user-search-container .search-box .dropdown-menu
  padding 1rem
  border-bottom-left-radius 2rem
  border-bottom-right-radius 2rem

.yy-container.gallery-container .user-search-container .search-box .dropdown-menu li a
  color gray

.yy-container.gallery-container .user-search-container .search-box .dropdown-menu li a img
  width 3rem
  margin-right 1rem

.yy-container.gallery-container .user-search-container .search-box .dropdown-menu li.active a
  background $yy-orange-pale
  color white

.yy-container.gallery-container .gallery-loadmore .btn
  margin 5rem 0 8rem
  padding 1rem 10rem
  font-size $text-5x

.yy-container.gallery-container .margin-bt-1
  margin-bottom  1rem


/*----------  instagram badge --------------*/
.ig-b-
  display inline-block

.ig-b- img
  visibility hidden

.ig-b-hover
  background-position 0 -60px

.ig-b-active
  background-position 0 -120px

.ig-b-32
  width 32px
  height 32px
  background url(//badges.instagram.com/static/images/ig-badge-sprite-32.png) no-repeat 0 0
  @media only screen and (-webkit-min-device-pixel-ratio 2), only screen and (min--moz-device-pixel-ratio 2), only screen and (-o-min-device-pixel-ratio 2 / 1), only screen and (min-device-pixel-ratio 2), only screen and (min-resolution 192dpi), only screen and (min-resolution 2dppx)
    background-image url(//badges.instagram.com/static/images/ig-badge-sprite-32@2x.png)
    background-size 60px 178px


