<div class="gallery-container-fade"></div>

<div class="yy-container gallery-container">
  <div class="gallery-introduction text-left">
    <h2>
      <!--<a href="http://instagram.com/mynameisyan?ref=badge" class="ig-b- ig-b-32">-->
      <!--<img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram"/>-->
      <!--</a>-->
      <img ng-src="{{GalleryCtrl.myAccount.profile_picture}}" alt="@mynameisyan"
           class="gallery-instagram-user-thumb img-circle"/>
      <a href="http://www.instagram.com/mynameisyan">{{GalleryCtrl.myAccount.username}}</a>
    </h2>

    <div>
      <h4 class="gallery-description">Photos help me with better remembering the places I've been to and experiences
        I've had. </h4>
    </div>
    <h6>*Images are pulled from my Instagram account.</h6>
  </div>

  <div class="user-search-container">
    <div class="row margin-0">
      <div class="title">Current gallery from user:&nbsp;&nbsp;&nbsp;
        <img ng-src="{{GalleryCtrl.currentUser.profile_picture}}" alt="user"
             class="gallery-instagram-user-thumb-sm img-circle"/>
        <a href="http://www.instagram.com/{{GalleryCtrl.currentUser.username}}">{{GalleryCtrl.currentUser.username}}</a>
        (<span class="text-xs">ID: {{GalleryCtrl.currentUser.id}}</span>)
      </div>

      <div class="padding-15-lr text-xs">
        <h6>*This is an example to show the searching functionality of Instagram's API.<br/>
        *Images belong to Instagram user shown below.</h6>
      </div>

      <div class="text-right">
        <!-- input-group -->
        <span class="input-group search-box full-width">
          <input type="text" class="input-lg form-control" placeholder="Enter Instagram user name" ng-model="username">
              <span ng-click="GalleryCtrl.changeUser(username)">
                <i class="fa fa-search"></i>
              </span>
        </span>
        <!-- /input-group -->
      </div>
    </div>

  </div>

  <!--<div class="col-lg-3 col-xs-3">{{GalleryCtrl.currentUser.counts.media}} Posts</div>-->
  <!--<div class="col-lg-3 col-xs-3">{{GalleryCtrl.currentUser.counts.followed_by}} Followers</div>-->
  <!--<div class="col-lg-3 col-xs-3">{{GalleryCtrl.currentUser.counts.follows}} Follows</div>-->


  <div class="gallery-toolbar clearfix">
    <div class="tool-icon float-left" ng-click="GalleryCtrl.reverseOrder=null"
         ng-class="{'active':GalleryCtrl.reverseOrder===null}">
      <i class="fa fa-calendar-plus-o"></i>
    </div>
    <div class="tool-icon float-left" ng-click="GalleryCtrl.reverseOrder='-'"
         ng-class="{'active':GalleryCtrl.reverseOrder==='-'}">
      <i class="fa fa-calendar-minus-o"></i>
    </div>
    <div class="tool-icon float-right" ng-click="GalleryCtrl.isGridView=false"
         ng-class="{'active':GalleryCtrl.isGridView===false}">
      <i class="fa fa-th-list"></i>
    </div>
    <div class="tool-icon float-right" ng-click="GalleryCtrl.isGridView=true"
         ng-class="{'active':GalleryCtrl.isGridView===true}">
      <i class="fa fa-th"></i>
    </div>

  </div>


  <div ng-if="GalleryCtrl.isGridView" instagram-gallery-template="" data-galleries="GalleryCtrl.currentMedia"
       data-is-reverse="GalleryCtrl.reverseOrder"></div>
  <div ng-if="!GalleryCtrl.isGridView" instagram-gallery-template-list="" data-galleries="GalleryCtrl.currentMedia"
       data-is-reverse="GalleryCtrl.reverseOrder"></div>

  <!--<div id="instafeed"></div>-->
</div>
