.yy-container.gallery-container .gallery-thumb-box
  padding 0.5rem

.yy-container.gallery-container .gallery-introduction
  margin-bottom 4rem
  margin-left 35%
  margin-top 4rem
  @media only screen and (max-width 432px)
    margin-left 0
    margin-top 10rem

.yy-container.gallery-container .gallery-description
  color #8b4d21


.yy-container.gallery-container .gallery-thumb-caption
  height 6rem



/*----------  instagram badge --------------*/
.ig-b-
  display inline-block

.ig-b- img
  visibility hidden

.ig-b-hover
  background-position 0 -60px

.ig-b-active
  background-position 0 -120px

.ig-b-32
  width 32px
  height 32px
  background url(//badges.instagram.com/static/images/ig-badge-sprite-32.png) no-repeat 0 0
  @media only screen and (-webkit-min-device-pixel-ratio 2), only screen and (min--moz-device-pixel-ratio 2), only screen and (-o-min-device-pixel-ratio 2 / 1), only screen and (min-device-pixel-ratio 2), only screen and (min-resolution 192dpi), only screen and (min-resolution 2dppx)
    background-image url(//badges.instagram.com/static/images/ig-badge-sprite-32@2x.png)
    background-size 60px 178px
