<div class="row margin-0 full-width hidden-xs" ng-repeat="item in items">
  <div class="yy-timeline-box" ng-class-odd="'left'" ng-class-even="'right'">
    <div class="yy-timeline-box-inner">
      <div class="yy-timeline-image-container">
        <a href="{{item.companyUrl}}"><img class="full-width" src="{{item.companyLogo}}" alt="" /></a>
      </div>
      <div class="yy-timeline-date">
        {{item.endMonth?  item.endMonth + ',' :''}} {{item.endYear}}
        <div class="yy-timeline-title" ng-if="item.level"><i class="fa fa-graduation-cap"></i></div>
      </div>
      <div class="yy-timeline-content">
        <div class="yy-timeline-title">{{item.title}}</div>
        <div class="yy-timeline-title" ng-if="item.level"><i class="glyphicon glyphicon-education text-black"></i> <i class="text-1x">{{item.level}}</i></div>
        <div class="yy-timeline-location">{{item.location}}</div>
        <li ng-repeat="description in item.description track by $index">{{::description}}</li>
      </div>
    </div>
  </div>
</div>

<div class="row margin-0 full-width visible-xs" ng-repeat="item in items">
  <div class="yy-timeline-box right">
    <div class="yy-timeline-box-inner">
      <div class="yy-timeline-image-container">
        <a href="{{item.companyUrl}}"><img class="full-width" src="{{item.companyLogo}}" alt="" /></a>
        <div class="yy-timeline-title" ng-if="item.level"><i class="fa fa-graduation-cap"></i></div>
      </div>
      <span> {{item.startYear}} - {{item.endYear}}</span>
      <div class="yy-timeline-content">
        <div class="yy-timeline-title">{{item.title}}</div>
        <div class="yy-timeline-title" ng-if="item.level"><i class="glyphicon glyphicon-education text-black"></i> <i class=" text-1x">{{item.level}}</i></div>
        <div class="yy-timeline-location">{{item.location}}</div>
        <li ng-repeat="description in item.description track by $index">{{::description}}</li>
      </div>
    </div>
  </div>
</div>
