<!-- Demo Modal -->
<div class="modal-header">
  <i class="glyphicon glyphicon-remove float-right" ng-click="ModalCtrl.cancel()"></i>

  <div class="modal-title text-4x"><strong>Demo for {{ModalCtrl.data.demoName}}</strong></div>
</div>

<div class="modal-body">
  <div class="modal-body-inner">
    <div ng-if="ModalCtrl.data.demoType==='todo'" data-example-todo></div>
    <div ng-if="ModalCtrl.data.demoType==='widget'" data-example-widget></div>
  </div>
  <!---------------------------------- END Demo Section -------------------------------->
</div>
