.modal.portfolio-demo-modal

.portfolio-demo-modal
  min-width 33rem
  width 60%
  max-width 140rem
  margin 0 auto
  max-height 90%
  margin-top 5rem


.portfolio-demo-modal .modal-dialog
  width 100%
  height 100%
  margin 0


.portfolio-demo-modal .modal-content
  margin 0
  min-height 30rem
  background transparent
  color white
  border none
  position relative
  box-shadow none

.portfolio-demo-modal .modal-content .modal-header
  border none
  padding 1rem
  background transparent


.portfolio-demo-modal .modal-content .modal-header i
  font-size $text-10x
  color #ffffff
  padding 1.5rem
  border solid 3px #fff
  border-radius 50%
  font-weight 100
  margin-top -1rem

.portfolio-demo-modal .modal-content .modal-body
  padding 0 3rem 3rem
  overflow auto
  width 100%
  height 100%
  text-align center
  border none
  position fixed
  margin-top 4rem

.portfolio-demo-modal .modal-content .modal-body img
  max-width 100%
  min-width 45rem





