<span class="glyphicon glyphicon-heart"></span>
Thanks for visiting my page !

<span class="power-by-icon-set float-right hidden-xs">Power by:
        <span><a href=""><img src="assets/images/icons/html5.png" alt="" height="20px"/></a></span>
        <span><a href=""><img src="assets/images/icons/css3.gif" alt="" height="25px"/></a></span>
        <span><a href=""><img src="assets/images/icons/angular.png" alt="" height="20px"/></a></span>
        <span><a href=""><img src="assets/images/icons/grunt.png" alt="" height="28px"/></a></span>
        <!--<span  ng-controller="loginCtrl" class="btn btn-default admin-login-btn hidden-xs" ng-click="openLoginModal()">Admin</span>-->
</span>
