<div>
<span class="glyphicon glyphicon-heart"></span>
Thank you for visiting my page !



<span class="power-by-icon-set float-right">Power by:
        <span><a href="http://www.w3.org/TR/html5/"><img src="assets/images/icons/html5.jpg" alt="" height="16px"/></a></span>
        <span><a href="http://www.w3.org/TR/CSS/"><img src="assets/images/icons/css3.gif" alt="" height="18px"/></a></span>
        <span><a href="https://angularjs.org/"><img src="assets/images/icons/angular.jpg" alt="" height="16px"/></a></span>
        <span><a href="http://yeoman.io/"><img src="assets/images/icons/grunt.jpg" alt="" height="23px"/></a></span>
        <!--<span  ng-controller="loginCtrl" class="btn btn-default admin-login-btn hidden-xs" ng-click="openLoginModal()">Admin</span>-->

  <span> All Rights Reserved.</span>
</span>
</div>
