<div class="portfolio-widget-example">

  <p class="text-3x">Select to change widget theme:</p>

  <div class="color-theme-btn-group">
    <button class="btn btn-primary widget-color-theme-option"
            ng-click="widgetCtrl.setColorTheme('primary')"></button>
    <button class="btn btn-success widget-color-theme-option"
            ng-click="widgetCtrl.setColorTheme('success')"></button>
    <button class="btn btn-info widget-color-theme-option" ng-click="widgetCtrl.setColorTheme('info')"></button>
    <button class="btn btn-warning widget-color-theme-option"
            ng-click="widgetCtrl.setColorTheme('warning')"></button>
    <button class="btn btn-danger widget-color-theme-option"
            ng-click="widgetCtrl.setColorTheme('danger')"></button>
    <button class="btn btn-dark widget-color-theme-option" ng-click="widgetCtrl.setColorTheme('dark')"></button>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="widget-wrapper panel no-border">
        <div class="panel-heading"
             ng-style="{'background-color':widgetCtrl.hexToRgba(widgetCtrl.currentWidgetTheme,'.3')}">
          Calendar Widget
        </div>
        <div class="panel-body padding-0">

          <div class="ao-widget">
            <div class="ao-date">
              <div class="col-xs-3">
                <span class="glyphicon glyphicon-calendar"></span>
              </div>

              <div class="col-xs-9">
                <p class="ao-text-date">Today is</p>

                <p>{{widgetCtrl.today | date:'MMM dd'}}</p>
              </div>
            </div>

            <div class="ao-greeting" ng-style="{'background-color':'#'+widgetCtrl.currentWidgetTheme}">
              Good <span class="ao-greeting-msg"> {{widgetCtrl.greeting(widgetCtrl.today)}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="widget-wrapper panel">
        <div class="panel-heading"
             ng-style="{'background-color':widgetCtrl.hexToRgba(widgetCtrl.currentWidgetTheme,'.3')}">
          Pace Setter
        </div>

        <div class="panel-body padding-0">

          <div class="pp-widget">

            <div class="col-xs-4 pp-widget-date" ng-style="{'background-color':'#'+widgetCtrl.currentWidgetTheme}">
              <div class="pp-days-bg-blocks" data-num="{{widgetCtrl.ppTestData.daysCount}}">
                <span class="background-lb"><hr class="pp-days-bg-hr"/></span>
                <span class="background-rb"><hr class="pp-days-bg-hr"/></span>
              </div>
              <h2>days</h2>

              <h2>left</h2>
            </div>

            <div class="col-xs-8 pp-widget-right">
              <div class="pp-widget-associate">
                Current Numbers
                <div class="pp-widget-associate-svg" data-num="{{widgetCtrl.ppTestData.associateCount}}">
                  <svg height="100" width="100">
                    <circle cx="50" cy="50" r="40" stroke-width="3" fill="#{{widgetCtrl.currentWidgetTheme}}"/>
                  </svg>
                </div>
              </div>
              <div class="pp-widget-cvp"
                   ng-style="{'background-color':hwidgetCtrl.exToRgba(currentWidgetTheme,'.3')}">

                CVP <span class="pp-widget-cvp-number"> {{widgetCtrl.ppTestData.cvpCount}}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <p class="text-3x">Change input data for Pace Setter widget:</p>

  <form class="form-horizontal" role="form">
    <div class="form-group row">
            <span class="col-sm-4"><label>Days left: </label>
                <input type="text" ng-maxlength="2" class="form-control" maxlength="2"
                       ng-model="widgetCtrl.ppTestData.daysCount"
                       ng-blur="widgetCtrl.validateDateCount(widgetCtrl.ppTestData.daysCount)"/></span>
            <span class="col-sm-4"><label># of associates: </label>
                <input type="text" class="form-control" maxlength="1" ng-model="widgetCtrl.ppTestData.associateCount"/></span>
            <span class="col-sm-4"><label>CVP Count: </label>
                <input type="text" class="form-control" maxlength="3" ng-model="widgetCtrl.ppTestData.cvpCount"/></span>
    </div>
  </form>
</div>
