
/*AO Widgets */

.ao-widget .ao-date
  margin 0
  height 60%
  position relative
  font-size 40px
  line-height 40px
  text-align center
  font-weight bold
  background #fff
  padding 25px 15px
  color #666
  text-shadow 1px 1px 0px rgba(255, 255, 255, 0.1)


.ao-widget .ao-dateafter
  content " "
  border-right 20px solid transparent
  border-left 20px solid transparent
  position absolute
  bottom -20px
  left 20%
  border-top 20px solid #fff


.ao-widget .ao-date .glyphicon-calendar
  font-size 60px
  margin-top 30px


.ao-widget .ao-date .col-xs-9
  text-align left
  padding-left 30px


.ao-widget .ao-date .ao-text-date
  display block
  font-size 20px


.ao-widget .ao-greeting
  height 40%
  padding 35px 0
  font-size 24px
  font-weight bold
  color rgba(255, 255, 255, 0.9)
  text-shadow 1px 1px 0px rgba(0, 0, 0, 0.1)
  text-align center


.ao-widget .ao-greeting-msg
  font-size 30px
  margin-left 5px


/* PP widget*/
.pp-widget
  backgound-color #ffffff


.pp-widget .pp-widget-date
  height 241px
  padding 30px 10px
  text-align center
  color #fff
  position relative


.pp-widget .pp-days-bg-blocks
  height 70px


.pp-widget .pp-days-bg-blocksafter
  content attr(data-num)
  position absolute
  left 10px
  letter-spacing 18px
  padding 3px
  font-size 50px
  font-weight bold
  color #666


.pp-widget .pp-days-bg-blocks .background-lb,
.pp-widget .pp-days-bg-blocks .background-rb
  position absolute
  top 35px
  height 65px
  width 40px
  background-color #fff
  border-radius 3px
  box-shadow 1px 3px 5px #0f0f0f


.pp-widget .pp-days-bg-blocks .background-lb
  left 8px


.pp-widget .pp-days-bg-blocks .background-rb
  right 8px


.pp-widget .pp-days-bg-blocks .background-lbafter, .pp-widget .pp-days-bg-blocks .background-rbafter
  content ""
  display block
  position absolute
  bottom 1px
  width 100%
  height 100%
  border-bottom solid 1px #aaa
  box-shadow 1px 1px 3px #0f0f0f
  border-radius 2px


.pp-days-bg-hr
  border-top solid 1px RGBA(0, 0, 0, 0.6)
  border-bottom solid 2px RGBA(87, 87, 87, 0.6)
  border-left none
  border-right none
  position absolute
  top 13px
  z-index 9999
  width 100%


.pp-widget .pp-widget-right
  padding 0
  height 241px
  text-align center


.pp-widget .pp-widget-associate
  height 35%
  font-size 20px
  color #666
  font-weight bold
  padding 25px 10px 0 10px


.pp-widget .pp-widget-associate .pp-widget-associate-svgafter
  position absolute
  height 40px
  width 40px
  content attr(data-num)
  margin-left -35%
  margin-top 13%
  line-height 40px
  font-size 50px
  text-align center
  color #ffffff


.pp-widget .pp-widget-cvp
  position absolute
  padding-top 18%
  top 120px
  bottom 0
  width 100%
  font-size 25px
  font-weight bold
  color #666


.pp-widget .pp-widget-cvp .pp-widget-cvp-number
  margin-left 5px
  font-size 45px


