
.portfolio-widget-example .widget-wrapper
  width 30rem
  height 24.1rem
  margin-bottom 2rem


.portfolio-widget-example .widget-wrapper.panel
  height 30rem
  margin-bottom 2rem
  border none

.portfolio-widget-example .widget-wrapper.panel .panel-heading
  padding 1.5rem
  font-size $rext-5x
  color #767676

.portfolio-widget-example .widget-wrapper.panel .panel-body
  height 24.1rem


.ao-widget,
.pp-widget
  height 100%


.widget-color-theme-option
  width 30px
  height 30px
  border-radius 5px


.ao-widget .ao-date
  margin 0
  height 60%
  position relative
  font-size 4rem
  line-height 4rem
  text-align center
  font-weight bold
  background #efefef
  padding 2.5rem 1.5rem
  color #666
  text-shadow 1px 1px 0px rgba(255, 255, 255, 0.1)


.ao-widget .ao-date:after
  content " "
  border-right 2rem solid transparent
  border-left 2rem solid transparent
  position absolute
  bottom -2rem
  left 20%
  border-top 2rem solid #efefef


.ao-widget .ao-date .glyphicon-calendar
  font-size 5rem
  margin-top 2rem


.ao-widget .ao-date .col-xs-9
  text-align left
  padding-left 3rem


.ao-widget .ao-date .ao-text-date
  display block
  font-size 2rem


.ao-widget .ao-greeting
  height 43%
  padding 3.5rem 0
  font-size 2.4rem
  font-weight bold
  color rgba(255, 255, 255, 0.9)
  text-shadow 1px 1px 0px rgba(0, 0, 0, 0.1)
  text-align center


.ao-widget .ao-greeting-msg
  font-size 3rem
  margin-left .5rem


/* PP widget*/
.pp-widget .pp-widget-date
  height 24.8rem
  padding 3rem 1rem
  text-align center
  color #fff
  position relative


.pp-widget .pp-days-bg-blocks
  height 7rem


.pp-widget .pp-days-bg-blocks:after
  content attr(data-num)
  position absolute
  left 1rem
  letter-spacing 1.8rem
  padding 0.3rem
  font-size 5rem
  font-weight bold
  color #666


.pp-widget .pp-days-bg-blocks .background-lb,
.pp-widget .pp-days-bg-blocks .background-rb
  position absolute
  top 3.5rem
  height 6.5rem
  width 4rem
  background-color #fff
  border-radius 0.3rem
  box-shadow 1px 0.3rem 0.5rem #0f0f0f


.pp-widget .pp-days-bg-blocks .background-lb
  left .8rem


.pp-widget .pp-days-bg-blocks .background-rb
  right .8rem


.pp-widget .pp-days-bg-blocks .background-lb:after, .pp-widget .pp-days-bg-blocks .background-rb:after
  content ""
  display block
  position absolute
  bottom 1px
  width 100%
  height 100%
  border-bottom solid 1px #aaa
  box-shadow 1px 1px 0.3rem #0f0f0f
  border-radius 2px


.pp-days-bg-hr
  border-top solid 1px RGBA(0, 0, 0, 0.6)
  border-bottom solid 2px RGBA(87, 87, 87, 0.6)
  border-left none
  border-right none
  position absolute
  top 1.3rem
  z-index 9999
  width 100%


.pp-widget .pp-widget-right
  padding 0
  height 24.1rem
  text-align center
  background #efefef


.pp-widget .pp-widget-associate
  height 35%
  font-size 2rem
  color #666
  font-weight bold
  padding 2.5rem 1rem 0 1rem


.pp-widget .pp-widget-associate .pp-widget-associate-svg:after
  position absolute
  height 4rem
  width 4rem
  content attr(data-num)
  margin-left -35%
  margin-top 13%
  line-height 4rem
  font-size 5rem
  text-align center
  color #ffffff


.pp-widget .pp-widget-cvp
  position absolute
  padding-top 18%
  top 12rem
  bottom 0
  width 100%
  font-size 2.5rem
  font-weight bold
  color #666


.pp-widget .pp-widget-cvp .pp-widget-cvp-number
  margin-left 0.5rem
  font-size 4.5rem


.portfolio-widget-example .color-theme-btn-group,
.portfolio-widget-example .form-group.row
  margin 2rem 0


