/*@import '../bower_components/font-awesome/css/font-awesome.css'*/
/*@import '../bower_components/bootstrap-css-only/css/bootstrap.css'*/
/*@import '../assets/fonts/Lato/latofonts.css'*/

//
// Font Awesome Fonts
//

@font-face
  font-family 'FontAwesome'
  src url('../assets/fonts/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0')
  src url('../assets/fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype')
  url('../assets/fonts/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff')
  url('../assets/fonts/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype')
  url('../assets/fonts/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg')
  font-weight normal
  font-style normal

//
// App-wide Styles
//
html, body
  font-family "Lato", sans-serif
  font-size 10px
  @media screen and (max-width: 767px)
    font-size 8px

body.isAsideOpen
  overflow hidden
  height 100%

body.isAsideOpen .ui-view-container
  position relative
  margin-right 15rem
  filter blur(5px)
  overflow-y hidden

body.isAsideOpen .ui-view-fade.hidden
  display block !important
  background rgba(0, 0, 0, .6)
  position absolute
  left 0
  right 15rem
  top -40rem
  z-index 1000
  bottom 0
  overflow hidden

.ui-view-container.gallery-view
  background #efefef

.yy-container
  width 80%
  max-width 120rem
  margin 0 auto
  clear both
  font-size 1.5rem

btn(border-color, bg-color, font-color)
  border-color border-color
  background bg-color
  color font-color

.btn.btn-primary-transparent
  btn(#336caf, transparent, #336caf)

.btn.btn-primary-transparent:hover
  btn(#336caf, #336caf, #fff)

.btn.btn-primary-transparent:focus
  btn(#336caf, #336caf, #fff)

.btn.btn-primary-transparent:active
  btn(#336caf, #336caf, #fff)

.btn.btn-primary-transparent:visited
  btn(#336caf, #336caf, #fff)

.btn.btn-white
  btn(#fff, #fff, #000)

.btn.btn-primary-transparent:focus
  btn(#fff, #fff, #000)
  outline none

.btn.btn-primary-transparent:visited
  btn(#fff, #fff, #000)

.btn.btn-dark
  btn(#000, #000, #fff)

.btn.btn-dark:hover
  btn(#000, #000, #fff)
.btn.btn-dark:focus
  btn(#000, #000, #fff)
.btn.btn-dark:active
  btn(#000, #000, #fff)
.btn.btn-dark:visited
  btn(#000, #000, #fff)


.margin-0
  margin 0

.padding-0
  padding 0

.padding-15-lr
  padding 0 1.5rem
.hr-min
  margin 1rem 0
.pointer-cursor
  cursor pointer
.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0

.float-left
  float left

.float-right
  float right

.text-left
  text-align left

.text-right
  text-align right

.text-red
  color #ff0000

.text-black
  color #000

.text-1x
  font-size 1.2rem
.text-2x
  font-size 1.4rem
.text-3x
  font-size 1.6rem
.text-4x
  font-size 1.8rem
.text-5x
  font-size 2rem

$text-1x=1.2rem
$text-2x=1.4rem
$text-3x=1.6rem
$text-4x=1.8rem
$text-5x=2rem
$text-10x=3rem


.full-width
  width 100%

.relative
  position relative

/* creamy color theme */
$yy-pink = #f9c2ce
$yy-pink-light = #FBE0E6
$yy-yellow = #fbcd34
$yy-blue = #66b9d2
$yy-blue-light = #AFDDE8
$yy-orange = #f78d35
$yy-orange-pale = #DC9A6B
$yy-orange-pale-light = #EECCB2
$yy-orange-heavy = #B36A42
$yy-green-bright = #3dd17f
$yy-green-light = #b5d5c3
$yy-green-dark = #8ba395
$yy-purple = #6b3271
$yy-red = #ff0000
$yy-gray-light = #eeeeee
$yy-earth = #e2d6b8

/* for toolbar in all yy-container*/
.yy-container .yy-toolbar
  padding 1rem 1rem 0.5rem 1rem
  border-bottom solid $yy-orange-pale-light 3px
  margin-bottom 3rem
  vertical-align bottom

.yy-container .yy-toolbar .tool-icon
  color $yy-orange-pale
  margin-left 2rem
  cursor pointer

.yy-container .yy-toolbar .tool-icon.active
  color $yy-orange-heavy

.yy-container .yy-toolbar .tool-icon i
  font-size 2.3rem

.yy-container .yy-toolbar .tool-icon:hover
  color $yy-orange-heavy
/*----------*/

/*----- tooltip -----*/

.tooltip-dark + .tooltip > .tooltip-inner
  background rgba(0,0,0,.7)
  color white
  padding 1rem
/*----- END tooltip -----*/

// Component styles are injected through grunt
// injector
@import 'gallery/gallery.styl';
@import 'main/main.styl';
@import 'portfolio/portfolio.styl';
@import 'resume/resume.styl';
@import '../components/example-todo/example-todo.styl';
@import '../components/example-widget/example-widget.styl';
@import '../components/footer/footer.styl';
@import '../components/instagram-gallery-template-list/instagram-gallery-template-list.styl';
@import '../components/instagram-gallery-template/instagram-gallery-template.styl';
@import '../components/navbar/navbar.styl';
@import '../components/navside/navside.styl';
@import '../components/portfolio-widget/portfolio-widget.styl';
@import '../components/resume-panel/resume-panel.styl';
@import '../components/resume-timeline/resume-timeline.styl';
@import '../components/todo-example/todo.styl';
// endinjector



/*--------*/
.loading-indicator
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0,0,0,.7)
