.gallery-list-row-container .gallery-list-row
  background #fff
  padding 2rem
  margin-bottom 3rem

.gallery-list-row-container .gallery-list-row .gallery-list-image
  text-align center

.gallery-list-row-container .gallery-list-row .gallery-list-image img
  max-width 40rem

.gallery-list-row-container .gallery-list-row .gallery-list-caption
  padding 2rem
  color grey


.gallery-list-row-container .gallery-list-row .gallery-list-caption .gallery-index
  padding 1rem
  margin-top -3rem
  font-size 1.2rem

.gallery-list-row-container .gallery-list-row .gallery-list-caption .gallery-date
  font-size 1.2rem

.gallery-list-row-container .gallery-list-row .gallery-image-caption
  font-size 1.5rem

.gallery-list-row-container .gallery-list-row .gallery-image-comment
  font-size 1.3rem

.gallery-list-row-container .gallery-list-row .gallery-image-comment img
  width 2rem
