
/**** portfolio-todo.tpl.html ****/

.portfolio-todo-panel .todo-tabset li.todo-tabfirst-child
  margin-left 1rem

.portfolio-todo-panel .todo-list
  list-style none
  padding 0
  height 30.5rem
  width 100%
  overflow-x hidden
  overflow-y auto
  @media (max-width 340px)
    height 13rem

.portfolio-todo-panel .todo-list.archived-list
  height 40rem

.portfolio-todo-panel .todo-list li
  line-height 4rem
  font-size  $text-5x
  @media (max-width 340px)
    line-height 2.2rem
    font-size  $text-2x

.portfolio-todo-panel .todo-list .todo-checkbox
  font-size  4rem
  margin-right 1rem

.portfolio-todo-panel .todo-list .strike-text
  color #888888
  text-decoration line-through

.portfolio-todo-panel .todo-tab-content
  padding 2rem

.portfolio-todo-panel .todo-btn-group .btn
  margin-bottom 1rem
