<div class="portfolio-todo-panel">

  <tabset class="todo-tabset">
    <tab ng-repeat="tab in todoCtrl.toDoTabs" heading="{{tab.title}}" class="todo-tab">
      <div ng-include="tab.content" class="todo-tab-content"></div>
    </tab>
  </tabset>

  <script type="text/ng-template" id="todoCurrentList.tpl.html">
    <form class="form-horizontal" role="form" name="yyToDoForm">
      <div class="form-group">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <input class="form-control" type="text" ng-model="todoCtrl.todo.description" required
                 placeholder="Type and add to the ToDo list ..."/>
        </div>
        <button class="btn btn-primary col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="todoCtrl.addToList(todoCtrl.todo)"
                ng-disabled="yyToDoForm.$invalid">Add
        </button>
      </div>
    </form>

    <ul class="todo-list">{{toDoList}}
      <li ng-repeat="toDo in todoCtrl.toDoList track by $index" class="row">
        <div class="col-xs-1 col-lg-1 col-todo-checkbox">
          <input type="checkbox" class="todo-checkbox" ng-model="toDo.isDone"
                 ng-click="todoCtrl.addToTempArchiveList(toDo)"/>
        </div>
        <span ng-class="{'strike-text':toDo.isDone}" class="col-xs-9 col-lg-9 text-4x">
          {{toDo.description}}
        </span>
        <span class="col-xs-1 col-lg-1 text-red pointer-cursor text-2x"
              ng-click="todoCtrl.removeFromList(todoCtrl.toDoList,$index)">X</span>
      </li>
    </ul>

    <div class="float-right todo-btn-group text-right">
      <button class="btn btn-primary" ng-click="todoCtrl.archiveTodo()" ng-disabled="todoCtrl.tempArchiveList.length===0">
        Archive Completed Tasks
      </button>
      <button class="btn btn-primary" ng-click="todoCtrl.saveToDoLocally()">
        Save Changes Locally
      </button>
      <button class="btn btn-danger" ng-click="todoCtrl.clearLocalToDo()">
        Clear All (Reset)
      </button>
    </div>
  </script>


  <script type="text/ng-template" id="todoArchivedList.tpl.html">
    <ul class="todo-list archived-list">
      <li ng-repeat="toDo in todoCtrl.archivedList track by $index" class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <input type="checkbox" class="todo-checkbox" ng-model="toDo.isDone" disabled/>
        </div>
        <span ng-class="{'strike-text':toDo.isDone}" class="col-xs-9 col-md-10">{{toDo.description}}</span>
         <span class="col-xs-1 col-lg-1 text-red pointer-cursor text-2x"
               ng-click="todoCtrl.removeFromList(toDoList,$index)">X</span>

      </li>
    </ul>
  </script>
</div>
