<div id="portfolio-todo-panel">

  <tabset class="todo-tabset">
    <tab ng-repeat="tab in toDoTabs" heading="{{tab.title}}" class="todo-tab">
      <div ng-include="tab.content" class="todo-tab-content"></div>
    </tab>
  </tabset>

  <script type="text/ng-template" id="todoCurrentList.tpl.html">
    <form class="form-horizontal" role="form" name="yyToDoForm">
      <div class="form-group">

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <input class="form-control" type="text" ng-model="todo.description" required
                 placeholder="Add to the ToDo list ..."/>
        </div>
        <button class="btn btn-primary col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="addToList(todo)"
                ng-disabled="yyToDoForm.$invalid">Add
        </button>
      </div>
    </form>
    <ul class="todo-list">
      <li ng-repeat="toDo in toDoList track by $index|limitTo:5" class="row">
        <div class="col-xs-1 col-ofcol-sm-1 col-md-1 col-lg-1 col-todo-checkbox">
          <input type="checkbox" class="todo-checkbox" ng-model="toDo.isDone"
                 ng-click="addToTempArchiveList(toDo)"/>
        </div>
        <span ng-class="{'strike-text':toDo.isDone}" class="col-xs-9 col-sm-9 col-md-9 col-lg-9 todo-text">{{toDo.description}}</span>
                    <span class="col-xs-1 col-sm-1 col-md-1 col-lg-1 yy-text-default pointer-cursor"
                          ng-click="removeFromList(toDoList,$index)">X</span>

      </li>
    </ul>
    <span class="pull-right">
        <button class="btn btn-primary" ng-click="archiveTodo()" ng-disabled="tempArchiveList.length===0">
          Archive Completed Tasks
        </button>

        <button class="btn btn-primary hidden-xs" ng-click="saveToDoLocally()">
          Save Changes Locally
        </button>
        <button class="btn btn-danger hidden-xs" ng-click="clearLocalToDo()">
          Clear All (Reset)
        </button>
        </span>
  </script>


  <script type="text/ng-template" id="todoArchivedList.tpl.html">
    <ul class="todo-list archived-list">
      <li ng-repeat="toDo in archivedList track by $index|limitTo:5" class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <input type="checkbox" class="todo-checkbox" ng-model="toDo.isDone" disabled/>
        </div>
        <span ng-class="{'strike-text':toDo.isDone}" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">{{toDo.description}}</span>
                    <span class="col-xs-1 col-sm-1 col-md-1 col-lg-1 yy-text-default pointer-cursor"
                          ng-click="removeFromList(archivedList,$index)">X</span>

      </li>
    </ul>
  </script>
</div>
