.resume-panel
  width 90%
  max-width 100rem
  margin 5rem auto 0
  color gray

.resume-panel h5
  color $yy-orange-heavy


.resume-panel .yy-info-container
  width 100%
  background #fff
  transform rotate(-1deg)
  -moz-transform rotate(-1deg)
  -webkit-transform rotate(-1deg)
  -o-transform rotate(-1deg)
  -moz-box-shadow 0 0 0.5rem darkgray
  -webkit-box-shadow 0 0 0.5rem darkgray
  box-shadow 0 0 0.5rem darkgray
  border 0.1rem solid $yy-gray-light
  margin 1rem 0 3rem
  padding 2rem
  position relative

.resume-panel .yy-info-container.previous-info
  width 100%
  background #fff
  transform rotate(0deg)
  -moz-transform rotate(0deg)
  -webkit-transform rotate(0deg)
  -o-transform rotate(0deg)
  -moz-box-shadow 0 0 0.5rem darkgray
  -webkit-box-shadow 0 0 0.5rem darkgray
  box-shadow 0 0 0.5rem darkgray
  border 0.1rem solid $yy-gray-light
  margin 1rem 0 3rem
  padding 2rem
  position relative


.resume-panel .yy-info-container:after
  content ""
  background #fff
  width 99%
  height 99%
  margin 0 auto
  position absolute
  z-index -1
  top 0
  left 0.4rem
  transform rotate(1deg)
  -moz-transform rotate(1deg)
  -webkit-transform rotate(1deg)
  -o-transform rotate(1deg)
  -moz-box-shadow 0 0 2rem darkgray
  -webkit-box-shadow 0 0 20px darkgray
  box-shadow 0 0 2rem darkgray
  border 0.1rem solid $yy-gray-light

.resume-panel .yy-info-container-title
  margin-left 2rem
  color $yy-orange-pale

.resume-panel .yy-info-sub-title
  text-align left
  @media only screen and (min-width 768px)
    text-align right


.resume-panel .admin-login-btn
  @media only screen and (min-width 768px)
    margin-left 2rem
    cursor pointer



.resume-panel .work-logo-thumb
  max-width 10rem
  max-height 10rem
  border none
  padding 1rem
