.deckgrid[deckgrid]::before
  /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  content '4 .column.column-1-4'
  font-size 0 /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility hidden


.deckgrid .column
  float left


.deckgrid .column-1-4
  width 25%

/*.yy-container.portfolio-container*/

.portfolio-examples-container
  width 100%

.portfolio-examples-container .mockup-example-container
  width 90%
  float right
  /*background #DC9A6B*/
  background #b5d5c3
  padding 2rem 3rem

.portfolio-examples-container .example-wrapper
  margin-bottom 3rem
  width 90%
  /*border-radius 0.5rem*/

.portfolio-examples-container .example-image
  width 100%

.portfolio-examples-container .example-image-caption
  padding 1rem 0 1rem
  font-size 1.5rem
  border-bottom solid #db9d6a 1px
  color #643717
/*-----------*/

.widget-wrapper
  width 300px
  height 241px
  margin-bottom 20px


.widget-wrapper.panel
  height 300px
  margin-bottom 20px


.ao-widget,
.pp-widget
  height 100%


.widget-color-theme-option
  width 30px
  height 30px
  border-radius 5px


/*-----------------------*/

.portfolio-container .portfolio-greeting
  padding-top 3rem
  padding-left 35%
  margin-bottom 10rem


.portfolio-container .portfolio-widget-container
  padding 20px


.portfolio-container .portfolio-panel
  min-width 262px

.portfolio-container .portfolio-widget
  height 205px
  min-width 260px
  overflow hidden
  background-size 100% auto
  text-align center
  background-size cover


.portfolio-container .portfolio-widget .portfolio-widget-overlay
  background-color rgba(0, 0, 0, 0.10)
  padding-top 60px
  width 100%
  height 100%

.portfolio-container .portfolio-widget .portfolio-widget-overlay:hover
  background-color rgba(0, 0, 0, .6)


.portfolio-container .portfolio-widget .btn.portfolio-widget-overlay-btn
  background-color transparent
  bordernone
  colortransparent
  -webkit-transition all linear 0.25s
  -moz-transition all linear 0.25s
  -ms-transition all linear 0.25s
  -o-transition all linear 0.25s
  transition all linear 0.25s
  -webkit-transform rotateY(90deg)
  -moz-transform rotateY(90deg)
  -ms-transform rotateY(90deg)
  -o-transform rotateY(90deg)
  transform rotateY(90deg)
  padding 15px 25px


.portfolio-container .portfolio-widget .portfolio-widget-overlay:hover .btn.portfolio-widget-overlay-btn
  bordersolid #fff 3px
  color #fff
  padding 15px 40px
  font-size 20px
  -webkit-transform rotateY(0deg)
  -moz-transform rotateY(0deg)
  -ms-transform rotateY(0deg)
  -o-transform rotateY(0deg)
  transform rotateY(0deg)

.portfolio-container .portfolio-widget .portfolio-widget-overlay-touch-device
  background-color rgba(0, 0, 0, 0.50)
  padding-top 60px
  width 100%
  height 100%

.portfolio-container .portfolio-widget .portfolio-widget-overlay-touch-device .btn.portfolio-widget-overlay-btn
  bordersolid #fff 3px
  color #fff
  padding15px 40px
  font-size 20px
  -webkit-transform rotateY(0deg)
  -moz-transform rotateY(0deg)
  -ms-transform rotateY(0deg)
  -o-transform rotateY(0deg)
  transform rotateY(0deg)



/**** for portfolio page modal****/
#portfolio-filePreviewModal .file-preview-modal.modal-dialog
  width 85%
  min-width 300px
  max-width 1000px


#portfolio-filePreviewModal .file-preview-modal .modal-body
  height 70%
  background-color rgb(206, 206, 206)


#portfolio-filePreviewModal .file-preview-modal .modal-body iframe
  border none


/**** for portfolio demo modal ****/
#portfolio-demoPreviewModal .demo-preview-modal.modal-dialog
  width 85%
  min-width 300px
  max-width 1000px


#portfolio-demoPreviewModal .demo-preview-modal .modal-body
  max-height 90%
  overflow-x hidden
  overflow-y auto

#portfolio-demoPreviewModal .demo-preview-modal .modal-body-inner
  height 100%
  width 100%
  overflow-y auto
  overflow-x hidden


/**** portfolio project modal ****/

#portfolio-projectPreviewModal .project-preview-modal.modal-dialog
  width 600px
  height 500px

#portfolio-projectPreviewModal .project-preview-modal .modal-body
  width 600px
  height 500px


#portfolio-projectPreviewModal .project-preview-modal .modal-body .iframe-wrapper
  position relative
  padding-bottom 56.25%
  padding-top 30px
  height 0
  overflow hidden


iframe.yy-video-dir-iframe
  position absolute
  top 0
  left 0
  height 100%
  width 100%


/**** portfolio-todo.tpl.html ****/

#portfolio-todo-panel .todo-tabset li.todo-tabfirst-child
  margin-left 10px

#portfolio-todo-panel .todo-list
  list-style none
  padding 0
  height 305px
  width 100%
  overflow-x hidden
  overflow-y auto

#portfolio-todo-panel .todo-list.archived-list
  height 400px

#portfolio-todo-panel .todo-list li
  line-height 40px
  font-size  20px

#portfolio-todo-panel .todo-list .todo-checkbox
  font-size  40px
  margin-right 10px

#portfolio-todo-panel .todo-list .strike-text
  color #d4d4d4

#portfolio-todo-panel .todo-tab-content
  padding 20px




@media (max-width 340px)
  .portfolio-container .portfolio-widget-container
    padding 10px

  #portfolio-demoPreviewModal .demo-preview-modal .modal-body
    padding 10px 0

  /**** for portfolio demo modal ****/
  #portfolio-demoPreviewModal .demo-preview-modal .modal-body
    height 300px

  #portfolio-todo-panel .todo-list
    height 130px

  #portfolio-todo-panel .todo-list li
    line-height 22px
    font-size  14px


