<div class="yy-container portfolio-container">


  <div class="portfolio-greeting">
    <h4>Thank you for checking out my portfolio page! </h4>

  </div>


  <div class="portfolio-examples-container">

    <!---------------------------------- Demo Section -------------------------------->
    <div class="row">
      <h4 class="yy-text-default">Web Component Example</h4>
      <hr class="title-separator-bold"/>
      <div class="row portfolio-widget-container-row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-9 portfolio-widget-container"
             ng-repeat="demo in webComponentDemos">
          <div class="panel yy-panel-box-dark portfolio-panel">
            <div class="panel-heading">
              <div class="panel-title">{{demo.demoName}}</div>
            </div>
            <div class="panel-body no-padding">
              <div ng-if="!isTouchDevice" class="portfolio-widget"
                   ng-style="{'background-image':'url({{demo.demoThumbPath}})'}">
                <div class="portfolio-widget-overlay">
                  <div class="btn btn-default portfolio-widget-overlay-btn" data-toggle="modal"
                       data-target="#portfolio-demoPreviewModal" ng-click="setCurrentDemo(demo)">
                    View
                  </div>
                </div>
              </div>
              <div ng-if="isTouchDevice" class="portfolio-widget-overlay-touch-device"
                   ng-style="{'background-image':'url({{demo.demoThumbPath}})'}">
                <div class="portfolio-widget-overlay">
                  <div class="btn btn-default portfolio-widget-overlay-btn" data-toggle="modal"
                       data-target="#portfolio-demoPreviewModal" ng-click="setCurrentDemo(demo)">
                    View
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Demo Modal -->
      <div class="modal fade" id="portfolio-demoPreviewModal" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog demo-preview-modal">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{currentDemo.demoName}}</h4>
            </div>
            <div class="modal-body">
              <div ng-include="currentDemo.demoPath" class="modal-body-inner"></div>
            </div>
            <div class="modal-footer footer-sm">
              <div class="btn btn-default" data-dismiss="modal">Close</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---------------------------------- END Demo Section -------------------------------->


    <!---------------------------------- mockup Section -------------------------------->

    <div class="row">
      <div class="mockup-example-container">
        <div deckgrid source="examples" class="deckgrid">
          <div class="example-wrapper">
            <h3 class="example-image-caption text-left">
              {{card.fileName}}
            </h3>
            <img class="example-image" src="{{card.filePath}}" alt=""/>

          </div>
        </div>
      </div>
    </div>
    <!---------------------------------- END mockup Section -------------------------------->


  </div>
</div>
