/*-----------------------*/

.portfolio-container .portfolio-greeting
  padding-top 5rem
  padding-left 35%
  margin-bottom 2rem
  color $yy-orange-heavy
  line-height 2.2rem


.portfolio-container .section-title
  font-size $text-3x
  font-weight bold
  padding 0.8rem 3rem
  background-color $yy-orange-pale-light
  position relative
  width 100%
  min-width 25rem
  margin 3rem 1rem 1remx -2rem
  color #555
  text-shadow 0px 1px 1px #fff
  -webkit-box-shadow 0px 1px 4px #888
  -moz-box-shadow 0px 1px 4px #888
  box-shadow 0px 1px 4px #888

.portfolio-container .section-title:before
  content ' '
  position absolute
  width 4rem
  height 0
  left -2rem
  top 1.3rem
  border-width 2rem 1rem
  border-style solid
  border-color $yy-orange-pale-light $yy-orange-pale-light  $yy-orange-pale-light transparent

.portfolio-container .section-title:after
  content ' '
  position absolute
  width 0
  height 0
  left 0
  top 100%
  border-width .7rem 1rem
  border-style solid
  border-color $yy-orange-pale $yy-orange-pale transparent transparent


.portfolio-container .portfolio-examples-container
  @media screen and (max-width: 967px)
    margin-top 4rem
  @media screen and (min-width: 968px) and (max-width: 1299px)
    margin-top 6rem
  @media screen and (min-width: 1300px)and (max-width: 1399px)
    margin-top 10rem
  @media screen and (min-width: 1400px)
    margin-top 12rem
