.blog-container .blog-header
  width 100%
  height 25rem
  filter blur(5px)
  overflow hidden
  position relative

.blog-container .blog-header:after
  position absolute
  bottom 0
  left 0
  right 0
  background-color rgba(0,0,0,.5)
  z-index 1

.blog-container .blog-header img
  position absolute
  bottom 0
  left 0
  right 0
  background-color rgba(0,0,0,.5)


.blog-container .user-profile
  position absolute
  width 100%
  text-align center
  margin-top -7.5rem

.blog-container .user-info
  margin-top 10rem

.blog-container .user-profile img
  border 5px solid white

.blog-container .blog-content
  margin-top 2rem
